@import "bootstrap/dist/css/bootstrap.min.css";

/* estilos simples de ejemplo */
body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f8f9fa;
}
.container { padding-top: 2rem; }
